section#tour {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 1100px;
    height: 100%;
    padding: 3.5cm 25px;
    gap: 50px;
    perspective: 100px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%,1fr));
    overflow: hidden;

    .info {
      h1 {
        color: var(--color-title);
        font-size: 3.25em;
        text-align: right;
      } p {
        color: var(--color-subtitle);
        text-align: justify;
        padding: 1.25em 0;
      }
    } img {
      background-image: repeating-linear-gradient(
        45deg,
        var(--image-empty-line-1),
        var(--image-empty-line-1) 10px,
        var(--image-empty-line-2) 11px,      
        var(--image-empty-line-2) 20px
      );
      border: 1px solid var(--image-empty-line-1);
      border-radius: 25px;
      height: 500px;
      width: 100%;
    }
  }
}