.add-report {
  padding: 25px 0;

  h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .add-report-actions {
      gap: 6px;
      display: flex;
      button {
        gap: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        padding: 10px 25px;
        border-radius: 50px;

        color: var(--text);
        border: 1px solid var(--button);
        background-color: var(--button);
      } button:hover, button.button-ghost:hover {
        color: var(--bg);
        border-color: var(--title);
        background-color: var(--title);
        span {
          color: var(--bg);
        }
      }

      button.button-ghost {
        color: var(--title);
        background-color: transparent;
        border: 1px solid var(--title);
      }
    }
  }

  .add-report-form {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      flex-direction: column;
    }
  }
}

.report-form {
  gap: 12px;
  display: flex;
  flex-direction: column;

  label {
    font-size: 18px;
    color: var(--primary);
    text-transform: capitalize;
  }

  textarea {
    resize: none;
    outline: none;
    padding: 15px;
    font-size: 18px;
    min-height: 750px;
    border-radius: 15px;
    border: 1px solid var(--button-hover);
  }

  input {
    outline: none;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--button);
    border: 1px solid var(--button);
  }

  input::placeholder {
    color: var(--text);
  } input:focus::placeholder {
    color: var(--title);
  }

  input:focus {
    outline: none;
    padding: 15px;
    border: 1px solid var(--primary);
  }

  input.title {
    border: 0;
    outline: none;
    padding: 15px;
    font-size: 22px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--button-hover);
  }

  input.title::placeholder {
    color: var(--text);
  } input:focus::placeholder {
    color: var(--title);
  }

  input.title:focus {
    border: 0;
    outline: none;
    padding: 15px;
    border-bottom: 2px solid var(--primary);
  }

}


.video-report {
  width: 100%;
  padding: 25px;
  margin: 25px 0;
  min-height: 300px;
  border-radius: 25px;
  border: 1px dashed var(--text);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  span {
    display: flex;
  }

  input[type="file"] {
    width: 100%;
    height: 300px;
    outline: none;
    cursor: pointer;
    text-align: center;
    line-height: 300px;
    background-color: var(--button);
  }

  input[type="file"]::file-selector-button {
    vertical-align: middle; 
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px; 
  }
}