section.favorite {
  display: flex;
  align-items: center;
  justify-content: center;

  .favorite-container {
    width: 100%;
    article.favorite-place:last-child {border: 0;}
    article.favorite-place:first-child:last-child {border: 0;}
    article.favorite-place {
      gap: 16px;
      display: flex;
      padding: 25px;
      border-bottom: 1px solid var(--map-bg);
      img {
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 15px;
      }

      .favorite-place-info {
        width: 100%;
        
        h2 {
          gap: 6px;
          display: flex;
          align-items: center;

          font-size: 24px;
          font-weight: bold;
          color: var(--title);
          span.place-favorite-icon {
            font-size: 20px;
            color: var(--primary);
          }
        }

        p {
          padding-top: 5px;
          border-radius: 25px;
          font-weight: normal;
          color: var(--text);
        }

        p.place-schedule {
          padding: 0;
          font-weight: normal;
          color: var(--primary);
        }

        span.place-actions {
          gap: 6px;
          display: flex;
          margin-top: 25px;
          button {
            gap: 6px;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            padding: 10px 0;
            cursor: pointer;
            transition: .15s;
            color: var(--text);
            border-radius: 25px;
            background-color: transparent;
            border: 1px solid var(--button-hover);
          } button:hover {
            color: var(--bg);
            background-color: var(--title);
          }
        }
      }
    }
  }
}

section.favorite#empty {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 100px);

  span {
    opacity: .5;
    font-size: 48px;
    color: var(--title);
  }

  p {
    font-size: 18px;
    color: var(--text);
    font-weight: normal;
  }
}

@media (max-width: 1500px) {
  section.favorite#empty p {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  section.favorite .favorite-container {
    width: 600px;
  }
}

@media (max-width: 600px) {
  section.favorite .favorite-container {
    width: 100%;
  }
}