:root {
  --header-bg: white;
  --button: #7e7e7e;
  --button-active: black;
}

:root[theme="dark"] {
  --header-bg: black;
  --button: #c0c0c0;
  --button-active: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

button#ui-open-menu.invisible {
  visibility: hidden;
  opacity: 0;
}

button#ui-open-menu {
  visibility:visible;
  z-index: 1000;
  position: fixed;
  margin: 15px;

  width: 50px;
  height: 50px;
  border-radius: 13px;
  border: 0;
  background-color: #f4f7fa;
  box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;

  opacity: 1;
  font-size: 18px;
  color: #4B5563;
  cursor: pointer;
  transition: .25s;
}

button#ui-open-menu:hover {
  background-color: white;
}



header#pc.invisible {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50px);
  
  .header {
    span.header-content {
      button {
        transition: none;
      }
    }

    .navmenu-container {
      button {
        transition: none;
      }
    }

  }
}

header#pc {
  position: fixed;
  height: calc(100vh - 30px);
  width: 525px;
  background-color: white;
  z-index: 1000;
  border-radius: 35px;
  margin: 15px;
  box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: .25s;

  .header {
    padding: 15px 25px 15px 25px;
    border-bottom: 1px solid #E5E7EB;

    span.header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 25px;
      padding-bottom: 50px;

      h1 {
        font-weight: 600;
        color: #1F2937;
        font-family: "Inter", sans-serif;
        text-transform: capitalize;
        font-size: 28px;
      }

      button {
        width: 35px;
        height: 35px;
        border: 0;
        border-radius: 10px;
        background-color: #F3F4F6;

        font-size: 16px;
        color: #1F2937;
        cursor: pointer;
        transition: .25s;
      }

      button:hover {background-color: #e1e4e9;}
    }

    .navmenu-container {
      padding: 5px;
      border-radius: 50px;
      background-color: #F3F4F6;

      display: flex;
      justify-content: center;

      button {
        font-family: "Inter", sans-serif;
        padding: 13px 0;
        border-radius: 50px;
        outline: none;
        border: 0;
        background-color: transparent;
        color: #4B5563;

        font-size: 16px;
        cursor: pointer;
        width: 100%;
        transition: .25s;
      } 
      
      button:hover {
        background-color: #e1e4e9;
      }
      
      button.active {
        background-color: #EB775E;
        color: white;
      }
    }

  }
}


.mobile-canvas {
  display: flex;
  justify-content: center;
  width: 100%;
  header.mobile {
    visibility: hidden;
    z-index: 1000;
    min-height: 50px;
    position: fixed;
    bottom: 15px;

    background-color: var(--header-bg);
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
    
    nav.links-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      padding: 5px 25px;

      button {
        display: flex;
        flex-direction: column;
        gap: 4px;

        min-height: 50px;
        width: 150px;
        padding: 10px 15px;
        border-radius: 20px;
        border: 0;
        outline: none;
        background-color: transparent;
        color: var(--button);

        span {font-size: 25px;}
        p {font-size: 18px;}
      }

      button.active {
        font-weight: 500;
        color:var(--button-active);
      }
    }
  }
}

.map-control {
  right: 0;
  z-index: 1000;
  padding: 15px;
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 8px;

  button {
    width: 50px;
    height: 50px;
    color: #4B5563;
    border-radius: 13px;
    border: 0;
    background-color: #f4f7fa;
    box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: .25s;
  }

  button:hover {
    background-color: white;
  }

}


/* MacBook Air 13 */
@media (max-width: 1500px) {
  
  header#pc {
    width: 425px;
    .header {
      h1 {
        font-size: 24px;
      }

      .navmenu-container {
        button {font-size: 14px;}
      }

    }

    .place-container {
      article {
        
        button {
          width: 30px;
          height: 30px;
          font-size: 18px;
        }

        .place-info {
          h2 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }

      }
    }

  }

}

@media (max-width: 1000px) {
  button#ui-open-menu {
    visibility: hidden;
  }
  header#pc {
    visibility: hidden;
    .header {
      .navmenu-container {
        button {
          transition: none;
        }
      }
    }
  }
  
  .mobile-canvas {header.mobile {visibility: visible;}}
}

@media (max-width: 650px) {
  .mobile-canvas {
    header.mobile {
      width: calc(100% - 30px);
    }
  }
}

@media (max-width: 500px) {
  .mobile-canvas {
    header.mobile {
      nav.links-container {
        padding: 5px 10px;
        button {
          width: 125px;
          span {font-size: 20px;}
          p {font-size: 14px;}
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .mobile-canvas {
    header.mobile {
      nav.links-container {
        padding: 5px 10px;
        button {
          width: 100px;
          span {font-size: 18px;}
          p {font-size: 12px;}
        }
      }
    }
  }
}