:root {
  --header-bg: white;
  --button: #7e7e7e;
  --button-active: black;
}

:root[theme="dark"] {
  --header-bg: black;
  --button: #c0c0c0;
  --button-active: #fff;
}

header.mobile {
  z-index: 1000;
  width: calc(100% - 30px);
  min-height: 50px;
  position: fixed;
  bottom: 25px;
  left: 15px;

  background-color: var(--header-bg);
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
  
  nav.links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;

    button {
      display: flex;
      flex-direction: column;
      gap: 4px;

      min-height: 50px;
      width: 150px;
      padding: 10px 15px;
      border-radius: 20px;
      border: 0;
      outline: none;
      background-color: transparent;
      color: var(--button);

      span {font-size: 25px;}
      p {font-size: 18px;}
    }

    button.active {
      font-weight: 500;
      color:var(--button-active);
    }
  }
}

@media (max-width: 475px) {
  header.mobile {
    nav.links-container {
      padding: 5px 10px;
      button {
        width: 125px;
        span {font-size: 20px;}
        p {font-size: 14px;}
      }
    }
  }
}

@media (max-width: 400px) {
  header.mobile {
    nav.links-container {
      padding: 5px 10px;
      button {
        width: 100px;
        span {font-size: 18px;}
        p {font-size: 12px;}
      }
    }
  }
}