.marker {
  width: 23px;
  height: 30px;
  cursor: pointer;
  background-size: cover;
  background-image: var(--map-marker);
}
.maplibregl-ctrl-top-right {
  top: auto     !important;
  right: 5px    !important;
  left: 0       !important;
  bottom: 15px  !important;
}

.maplibregl-control-container {
  .maplibregl-canvas-container.maplibregl-interactive, 
  .maplibregl-ctrl-group button.maplibregl-ctrl-compass {
    cursor: pointer;
  }

  .maplibregl-ctrl-group:not(:empty) {
    cursor: pointer;
    box-shadow: var(--shadow);
    background-color: transparent;
  }

  .maplibregl-ctrl-group {
    cursor: pointer;
    border-radius: 50px;
  }
  
  .maplibregl-ctrl-compass-arrow {
    width: 50px;
    height: 50px;
  }

  .maplibregl-ctrl-icon {
    background-image: var(--map-arrow) !important;
  }

  button.maplibregl-ctrl-compass {
    border: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .25s;
    background-color: var(--button);
    border-radius: 25px !important;
    box-shadow: none;
  } button.maplibregl-ctrl-compass:hover {
    background-color: var(--button-hover);
  }
}

@media (max-width: 1000px) {
  .maplibregl-ctrl-top-right {
    top: 5px      !important;
    right: auto   !important;
    left: 15px    !important; 
    bottom: auto  !important;
  }
}