section.map {
  .leaflet-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--map-bg); 

    .popup-content {
      display: flex;
      gap: 25px;

      img {
        width: calc(50% - 30px);
        border-radius: 10px;
        object-fit: cover;
      }

      .popup-marker-content {

      }
    }

    .leaflet-popup-content-wrapper {
      box-shadow: none;
      background-color: var(--popup-bg);
      color: var(--text);
      border-radius: 15px;
      min-width: 600px;

      .leaflet-popup-content {
        margin: 25px 15px;
        font-size: 18px;
        width: calc(100% - 30px) !important;
      }
    }

    .leaflet-tile-pane img {
      image-rendering: crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      max-width: none !important;
    }
    
    .leaflet-popup-tip-container {
      box-shadow: none;
      .leaflet-popup-tip {
        background-color: var(--bg);
        box-shadow: none;
      }
    }

    .leaflet-popup-close-button {
      height: 30px;
      width: 30px;
      font-size: 20px;
      margin: 5px 10px;
      color: var(--primary);
      border-radius: 10px;
      transition: .1s;
    } .leaflet-popup-close-button:hover {
      background-color: var(--primary);
      /* color: white; */ 
    }
  }
}