section#user-profile {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  height: 100vh;

  .profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 0;
    gap: 12px;

    button.profile-app-settings {
      border: 0;
      width: 40px;
      height: 40px;
      outline: none;
      cursor: pointer;
      transition: .25s;
      border-radius: 10px;

      font-size: 18px;
      color: var(--text);
      background-color: var(--button);
    } button.profile-app-settings:hover {
      color: var(--title);
      background-color: var(--button-hover);
    }

    .profile-main {
      gap: 25px;
      display: flex;
      img.profile-photo {
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 100px;
      } h1 {
        font-size: 24px;
        font-weight: bold;
        color: var(--title);
      } p {
        color: var(--text);
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 500px) {
  section#user-profile {
    padding: 15px 0;
    .profile {
      display: flex;
      justify-content: center;
    
      .profile-app-settings {
        position: absolute;
        right: 25px;
      }

      .profile-main {
        flex-direction: column;
        .profile-info {
          h1 {
            padding-bottom: 10px;
          }
          text-align: center;
        }
      }
    }
  }
}