.place-container#empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 12px;

  span {
    opacity: .5;
    font-size: 48px;
    color: var(--title);
  }

  p {
    font-size: 18px;
    color: var(--text);
    font-weight: normal;
  }
}

.place-container {
  display: flex;
  flex-direction: column;
  article {
    padding: 25px;
    cursor: pointer;

    gap: 12px;
    display: flex;
    flex-shrink: 0;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid var(--map-bg);

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      flex-shrink: 0;

      border: 0;
      outline: none;
      font-size: 20px;
      border-radius: 10px;
      color: var(--primary);
      background-color: transparent;
    } button:hover {
      background-color: var(--button);
    }

    .place-info {
      gap: 16px;
      display: flex;

      img {
        width: 125px !important;
        height: 125px;
        border-radius: 15px;
        object-fit: cover;
      }

      .place-content {
        h2 {
          font-size: 24px;
          font-weight: bold;
          color: var(--title);
        }
        p {
          padding-top: 5px;
          color: var(--text);
          font-weight: normal;
        }
      }
    }
  }

  article:last-child {border: 0;}
  article:first-child:last-child {border: 0;}
}


@media (max-width: 1500px) {
  .place-container {
    overflow-x: hidden;
    article {
      button {
        width: 30px;
        height: 30px;
        font-size: 18px;
      }

      .place-info {
        img {
          width: 100px;
          height: 100px;
        } h2 {
          font-size: 18px;
        } p {
          font-size: 14px;
        }
      }

    }
  }
}

@media (max-width: 1000px) {
  .place-container {
    article {
      padding: 25px 0;
    }
  }
}

@media (max-width: 500px) {
  .place-container {
    article {
      padding: 25px 0;
      flex-direction: column;
      button {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 6px;
        width: 100%;
        font-size: 16px;
        padding: 22.5px 0;
        p {
          font-size: 18px;
        }
      }

      .place-info {
        .place-content {
          h2 {
            font-size: 18px;
            color: var(--title);
          }
          p {
            font-size: 14px;
            padding-top: 5px;
            color: var(--text);
          }
        }
      }
    }
  }
}