.maplibregl-popup.user-geo-popup {
  width: 200px !important;

  .maplibregl-popup-close-button {
    color: white !important;
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
  }

  .maplibregl-popup-content {
    gap: 12px;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 200px !important;

    text-align: center;

    span {
      opacity: .75;
      font-size: 48px;
      color: var(--title);
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
      color: var(--title);
    }

    p {
      font-size: 16px;
      color: var(--text);
    }
  }
}