:root {
  --primary:#EB775E;
  --bg:     #FFFFFF;
  --bg-alt: #fbfcff;
  --map-bg: #f5f7fc;
  --title:  #1F2937;
  --text:   #4B5563;

  --button:       #F3F4F6;
  --button-hover: #e1e4e9;
  --shadow: rgba(0, 0, 0, .15) 0px 10px 24px;

  /* Default colors */
  --red:    #FF5A5A;
  --green:  #78F58F;
  --blue:   #57AEFF;
  --yellow: #FFA657;
}

:root[theme="dark"] {
  --primary:#FF9E89;

  --bg:     #35363C;
  --bg-alt: #46464C;
  --map-bg: #51535e;
  --title:  #FFFFFF;
  --text:   #d6d6dc;

  --button:       #44444b;
  --button-hover: #58585e;

  /* Default colors */
  --red:    #FF5A5A;
  --green:  #78F58F;
  --blue:   #57AEFF;
  --yellow: #FFA657;
}

* {
  margin: 0;
  padding: 0;
  /* transition: .15s; */
  scroll-behavior: smooth;
  box-sizing: border-box;
  
  /* Font */
  line-height: 1.5;
  font-variant: normal;
  font-family: "Inter", sans-serif;
} body {
  background-color: var(--bg);
}

h1,h2,h3,h4 {
  font-weight: 800;
}

main.app {
  display: flex;
  justify-content: center;
  align-items: center;
  .container { width: 1000px; }
}

#anim-element {
  transition: 1s;
  transform: translateY(25px);
  opacity: 0;
} #anim-element.anim-visible {
  opacity: 1;
  transform: translateY(0px);
}

p#anim-element.anim-left {
  transition: 1.25s;
  transform: translateX(-25px);
  opacity: 0;
} p#anim-element.anim-left.anim-visible {
  opacity: 1;
  transform: translateY(0px);
}

p#anim-element.anim-right {
  transition: 1.25s;
  transform: translateX(25px);
  opacity: 0;
} p#anim-element.anim-right.anim-visible {
  opacity: 1;
  transform: translateY(0px);
}

img#anim-element.img-right {
  transition: .75s;
  opacity: 0;
} img#anim-element.img-right.anim-visible {
  transform: translateZ(0px);
  opacity: 1;
}

img#anim-element.img-left {
  transition: .75s;
  opacity: 0;
} img#anim-element.img-left.anim-visible {
  transform: translateZ(0px);
  opacity: 1;
}