:root {
  --footer-background: #f6faff;
  --footer-media-background: #e6ecf2;
  --footer-media-background-hover: #f1f6fb;
  --footer-media-color: #4a535e;
}

:root[theme="dark"] {
  --footer-background: #151a20;
  --footer-media-background: #393E46;
  --footer-media-background-hover: #f1f6fb;
  --footer-media-color: #c7d0db;
}


.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background);
  footer {
    width: 1300px;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 6px;

    .info {
      p { color: var(--color-subtitle); }
      .media {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        gap: 4px;

        a {
          font-size: 20px;
          border: 1px solid transparent;
          background-color: var(--footer-media-background);
          color: var(--footer-media-color);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 10px;
        } a:hover {
          border-color: var(--footer-media-background);
          background-color: var(--footer-media-background-hover);
        }

        a:hover#vk        {color: #0077FF}
        a:hover#telegram  {color: #24A1DE}
        a:hover#github    {color: #000000}
        a:hover#ok        {color: #EE8208}
        a:hover#tiktok    {color: #000000}
        a:hover#youtube   {color: #FF0000}
        a:hover#bluesky   {color: #228DFF}
      }
    }

    .category {
      text-transform: capitalize;

      h2 {
        font-size: 18px;
        padding: 0 0 4px 0;
        color: var(--color-title);
      }
      
      .content {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        li {
          list-style: none;
          margin: 4px 0;
          a {
            transition: 0s;
            color: var(--color-subtitle);
            text-decoration: none;
          } a:hover {
            text-decoration: underline;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .footer-container {
    footer {
      width: 750px;
    }
  }
}

@media (max-width: 850px) {
  .footer-container {
    footer {
      width: 500px;
    }
  }
}

@media (max-width: 550px) {
  .footer-container {
    footer {
      width: 100vw;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}