:root {
  --navmenu-background: #FFFFFF;
  --navmenu-text-hover: #242427;
  --navmenu-text: #66666f;

  /* Buttons */
  --navmenu-button-radius: 10px;
  --navmenu-button-padding: 10px 16px;
  --navmenu-font-size: 14px;
  --navmenu-button-hover: #eff2f7;
  --navmenu-button-background-hover-cmd: ;
  --navmenu-button-text-hover-cmd: ;
  --navmenu-button-background-active-cmd: ;
  --navmenu-button-text-active-cmd: ;

  /* Droplist */
  --navmenu-droplist-background: #fff;
  --navmenu-droplist-border: #e1e5ed;

}

:root[theme="dark"] {
  --navmenu-background: #393E46;
  --navmenu-text-hover: #efeff6;
  --navmenu-text: #cbcbd6;
  
  /* Buttons */
  --navmenu-button-radius: 10px;
  --navmenu-button-padding: 10px 16px;
  --navmenu-font-size: 14px;
  --navmenu-button-hover: #575d67;

  /* Droplist */
  --navmenu-droplist-background: #393E46;
  --navmenu-droplist-border: #1d2025;
}


header#navmenu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 25px;
  background-color: var(--navmenu-background);
  z-index: 5;
  border-radius: 50px;
  margin: 10px 10px;
  width: calc(100% - 20px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  a.logotype {
    z-index: 2;
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50px;
      height: 50px;
      img {
        width: 300px;
        height: 30px;
      }
    }
  }

  nav.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 12px;
    width: 100%;
    a {
      margin: 6px 0;
      font-weight: 500;
      text-decoration: none;
      border-radius: var(--navmenu-button-radius);
      padding: var(--navmenu-button-padding);
      font-size: var(--navmenu-font-size);
      color: var(--navmenu-text);
    } a:hover {
      color: var(--navmenu-text-hover);
      background-color: var(--navmenu-button-hover);
    }
  }

  nav.commands {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .mobile-menu {display: none;}

    button.mobile-open {
      display: none;
      margin-left: 12px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;

      border: 0;
      border-radius: 15px;
      outline: none;
      cursor: pointer;
      color: var(--navmenu-text-hover);
      background-color: var(--navmenu-button-hover);
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
      }
    }
    
    .dropdown {
      .dropdown-content#invisible {
        opacity: 0;
        transform: translateY(5px);
        visibility: hidden;
      }

      .dropdown-content {
        
        display: flex;
        position: absolute;
        flex-direction: column;
        
        right: 0;
        gap: 6px;
        padding: 6px;
        margin-top: 6px;
        margin-right: 12px;
        border-radius: 10px;
        border: 1px solid var(--navmenu-droplist-border);
        background-color: var(--navmenu-droplist-background);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        button {
          display: flex;
          justify-content: flex-start;
          gap: 8px;
          border-radius: var(--navmenu-button-radius);
          padding: var(--navmenu-button-padding);
          font-size: var(--navmenu-font-size);
          color: var(--navmenu-text);
          background-color: transparent;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            img {
              width: 100%;
            }
          }
        } button:hover {
          color: var(--navmenu-text-hover);
          background-color: var(--navmenu-button-hover);
        }
      }
    }
  }
}


/* --- mobile navigation menu --- */
#mobile-navmenu-container.invisible {
  backdrop-filter: blur(0);
  background-color: rgba(20, 18, 16, 0);
  .mobile-navmenu {
    transform: translateX(100%);
    opacity: 0;
  } visibility: hidden;
}

#mobile-navmenu-container {
  transition: .25s;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(5.75px);
  background-color: rgba(20, 18, 16, 0.75);

  .mobile-navmenu {
    transition: .35s;
    width: 50%;
    float: right;
    height: 100vh;
    background-color: var(--navmenu-background);
    padding: 0 35px;
    border-radius: 50px 0 0 50px;
  } 
  
  nav.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 20px 0 0 0;

    img {
      width: 40px;
      height: 100%;
      object-fit: cover;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      cursor: pointer;
      border: 1px;
      border-radius: 15px;
      font-size: 16px;
      background-color: var(--navmenu-button-hover);
      color: var(--navmenu-text-hover);
      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .mobile-namvenu-content {
    nav.mobile-navmenu-links {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      padding: 25px 0 100px 0;

      .mobile-navmenu-link {
        width: 100%;
      } 
      
      .mobile-navmenu-footer {
        display: flex;
        width: 100%;
        align-items: end;
        justify-content: flex-end;
        flex-direction: column;
        gap: 6px;

        button {
          border: 0;
          width: 100%;
          font-size: 18px;
          font-weight: bold;
          border-radius: 50px;
          padding: 15px 25px;
          background-color: var(--primary-color);
          color: #fff;
          cursor: pointer;
        } button:hover {
          background-color: var(--primary-color-light);
        } button:active {
          background-color: var(--primary-color-dark);
        }
      }

      a {   
        width: 100%;
        text-decoration: none;
        background-color: var(--navmenu-button-hover);
        border-bottom: 1px solid var(--navmenu-background);
        color: var(--navmenu-text-hover);
        padding: 15px 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f3f3f6;
          border: 1px solid #383d45;
          color: #383d45;
          border-radius: 5px;
          width: 25px;
          height: 25px;
        }
      } 
      
      a:first-child:last-child {border-radius: 15px;}
      a:first-child {border-radius: 15px 15px 0 0;}
      a:not(:first-child):not(:last-child) {border-radius: 0;}
      a:last-child {border-radius: 0 0 15px 15px;}
    }
  }
}

@media (max-width: 825px) {
  header#navmenu {
    nav.navmenu {display: none;}
    nav.commands {
      button.mobile-menu {display: flex;}
    }
  } .mobile-navmenu-container {display: block;}
}

@media (max-width: 675px) {
  #mobile-navmenu-container {
    .mobile-navmenu {width: 60%;}
  }
}

@media (max-width: 600px) {
  #mobile-navmenu-container {
    .mobile-navmenu {width: 75%;}
  }
}

@media (max-width: 499px) {
  #mobile-navmenu-container {
    .mobile-navmenu {
      width: 100%;
      border-radius: 0;
    }
  }
}