section.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: -1;
  img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    .logotype {
      width: 300px;
      height: 300px;
      margin-bottom: 1.25em;
      img {
        width: 300px;
        height: 300px;
        object-fit: contain;
      }
    } h1 {
      font-size: 3.25em;
      color: #fff;
      text-align: center;
    } p {
      font-size: 1.25em;
      color: #fff;
      width: 475px;
      padding: 1.25em 0;
      width: 350px;
      text-align: center;
    }
  }
}

section.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  animation-name: intro-background;
  animation-duration: 1.25s;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2.5px);
}

@keyframes intro-background {
  0% {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  } 100% {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2.5px);
  }
}

@media (max-width: 750px) {
  section.intro {
    .info {
      z-index: 1;
      .logotype {
        width: 200px;
        height: 200px;
        img {
          width: 200px;
          height: 200px;
        }
      } 
      
      h1 {font-size: 2.75em;} 
      p {font-size: 18px;}
    }
  }
}