section.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: -1;

  img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 50px;
    .info-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      gap: 300px;
    }

    .info-buttons {
      display: flex;
      z-index: 1;
      gap: 25px;

      a {
        outline: 0;
        border: 0;
        margin: 0.25em 0;
        border-radius: 15px;
        padding: 16px 35px;
        font-size: 18px;
        cursor: pointer;
        color: #222;
        background-color: #fff;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
        }
      } a:hover {
        color: #FFF;
        background-color: var(--primary-color);
      } a:active {
        transform: translateZ(-10px);
        background-color: var(--primary-color-dark);
        border-color: var(--primary-color-dark);
      }
    }

    .logotype {
      width: 400px;
      height: 400px;
      margin-bottom: 1.25em;
      img {
        width: 400px;
        height: 400px;
        object-fit: contain;
      }
    } h1 {
      font-family: 'Montserrat';
      font-size: 3.75em;
      color: #fff;
      text-align: left;
    } p {
      font-size: 1.35em;
      color: #fff;
      width: 475px;
      padding: 1.25em 0;
      text-align: left;
      font-weight: 600;
    }
  }
}

section.intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2.5px);
}

@media (max-width: 750px) {
  section.intro {
    .info {
      z-index: 1;
      .logotype {
        width: 200px;
        height: 200px;
        img {
          width: 200px;
          height: 200px;
        }
      } 
      
      h1 {font-size: 2.75em;} 
      p {font-size: 18px;}
    }
  }
}