section#start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  padding: 3.25cm 0 2.5cm 0;

  img.background {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    color: var(--color-title);
    font-size: 3em;
    text-align: center;
  } p {
    color: var(--color-subtitle);
    padding: .75em 0 0 0;
    font-size: 18px;
  } a {
    outline: 0;
    border: 0;
    margin: 0.25em 0;
    border-radius: 50px;
    padding: 12px 28px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    font-weight: bold;
  } a:hover {
    color: #FFF;
    background-color: var(--primary-color);
  } a:active {
    transform: translateZ(-10px);
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
  }

  .places-container {
    margin: .75cm 0;
    overflow-x: hidden;
    width: 100%;
    .places {
      display: flex;
      gap: 16px;
      animation: slider;
      animation-duration: 60s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
      perspective: 50px;
    } 
    
    article {
      cursor: pointer;
      display: flex;
      width: 350px;
      height: 350px;
      flex-shrink: 0;
      position: relative;
      img {
        border-radius: 15px;
        width: 350px;
        height: 350px;
        object-fit: cover;
        position: absolute;
        background-image: repeating-linear-gradient(
          45deg,
          var(--image-empty-line-1),
          var(--image-empty-line-1) 10px,
          var(--image-empty-line-2) 11px,      
          var(--image-empty-line-2) 20px
        ); border: 1px solid var(--image-empty-line-1);
      } .info {
        bottom: 10px;
        left: 10px;
        width: calc(100% - 20px);
        background-color: rgba(51, 61, 71, 0.4);
        backdrop-filter: blur(3.75px);
        z-index: 1;
        color: #FFF;
        border-radius: 15px;
        padding: 10px;
        z-index: 10;
        align-self: flex-end;
        position: absolute; 
        h2 {
          color: #FFF;
          font-size: 20px;
        } p {
          color: #f7faff;
        }
      }
    }
  }
}

@keyframes slider {
  0% {transform: translateX(0);} 
  100% {transform: translateX(-100%);}
}

@media (max-width: 825px) {
  section#start {
    .places-container {
      article {
        height: 300px;
        width: 300px;
        img {
          height: 300px;
          width: 300px;
        }
        .info {
          h2 {font-size: 20px;}
          p {font-size: 16px;} 
        }
      }
    }
  }
}

@media (max-width: 500px) {
  section#start {
    h1  {font-size: 34px;} 
    p   {font-size: 15px;}
    .places-container {
      article {
        height: 200px;
        width: 250px;
        img {
          height: 200px;
          width: 250px;
        }
        .info {
          h2 {font-size: 18px;} 
          p {display: none;} 
        }
        
      }
    }
  }
}