section#start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  padding: 3.25cm 0 2.5cm 0;

  img.background {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    color: var(--title);
    font-size: 3em;
    text-align: center;
  } p {
    color: var(--text);
    padding: .75em 0 0 0;
    font-size: 18px;
  } a {
    outline: 0;
    border: 0;
    margin: 0.25em 0;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    color: #FFF;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    text-decoration: none;
    font-weight: bold;
  } a:hover {
    opacity: .85;
  }

  .places-container::-webkit-scrollbar {
    display: none;
  }

  .places-container {
    width: 100%;
    margin: .75cm 0;
    padding: .75cm 0;
    overflow-x: scroll;
    overflow-y: hidden;
    
    display: flex;
    align-items: stretch;
    justify-content: start;

    .places {
      gap: 25px;
      display: flex;
      padding: 0 100px;
      justify-content: center;
    }
    
    article {
      display: flex;
      flex-direction: column;
      width: 300px;
      position: relative;
      border-radius: 25px;
      transition: .25s;
      border: 1px solid var(--button-hover);

      img {
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-radius: 24px 24px 0 0;
        background-image: repeating-linear-gradient(
          45deg,
          var(--image-empty-line-1),
          var(--image-empty-line-1) 10px,
          var(--image-empty-line-2) 11px,      
          var(--image-empty-line-2) 20px
        );
      } 

      .place-info {
        padding: 15px;

        h2 {
          font-size: 20px;
          font-weight: bold;
          color: var(--title);
        }

        p {
          padding-top: 5px;
          font-size: 16px;
          color: var(--text);
        }
      }
    }

    article.place-card:hover {
      cursor: pointer;
      transform: translateY(-5px);
      background-color: var(--bg-alt);
    }
  }
}

article#empty {
  box-shadow: none;
  border: 1px solid var(--button-hover);
  background: var(--bg);
  background: linear-gradient(90deg,
    var(--bg) 0%, 
    var(--button) 50%, 
    var(--bg) 100%
  );

  background-size: 200% 100%;
  animation-duration: 1.25s;
  animation-name: places-loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes places-loading {
  0% {background-position: 100% 0;}
  100% {background-position: -100% 0;}
}

@media (max-width: 1000px) {
  section#start .places-container {
    justify-content: start;
  } 
}

@media (max-width: 875px) {
  section#start {
    .places-container {
      article {
        .info {
          h2 {font-size: 20px;}
          p {font-size: 16px;} 
        }
      }
    }
  }
}

@media (max-width: 500px) {
  section#start {
    h1  {font-size: 34px;} 
    p   {font-size: 15px;}
    .places-container {
      .places {
        gap: 25px;
        display: flex;
        padding: 0 50px;
        align-items: stretch;
        justify-content: start;
      } 

      article {
        img {
          height: 150px;
          width: 100%;
        }
        .info {
          h2 {font-size: 18px;} 
          p {display: none;} 
        }
        
      }
    }
  }
}

@media (max-width: 350px) {
  section#start {
    h1  {font-size: 34px;} 
    p   {font-size: 15px;}
    .places-container {
      article {
        width: 250px;
        img {
          height: 100px;
          width: 100%;
        }
        .info {
          h2 {font-size: 18px;} 
          p {display: none;} 
        }
        
      }
    }
  }
}