:root {
  --background: #FFF;
  /* -- navmenu -- */
  --navmenu-background: rgba(250, 250, 250, 0.75);
  --navmenu-text: #090909;
  --navmenu-text-hover: #000;
  --navmenu-button: #f0f9f9;
  --navmenu-border: #616161;
}

:root[theme='dark'] {
  --background: #111;
  --navmenu-background: #f19066;
}

* {
  scroll-behavior: smooth;
  transition: .15s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} body {
  background-color: var(--background);
}

main.app {
  display: flex;
  justify-content: center;
  align-items: center;
  .container { width: 1000px; }
}