header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 12px;
  background-color: var(--navmenu-background);
  backdrop-filter: blur(2px);
  z-index: 5;

  a.logotype {
    z-index: 2;
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50px;
      height: 50px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  nav.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 6px;
    width: 100%;
    a {
      padding: 12px 18px;
      text-decoration: none;
      margin: 5px 0;
      border: 1px solid transparent;
      border-radius: 10px;
      color: var(--navmenu-text);
    } a:hover {
      background-color: var(--navmenu-button);
      color: var(--navmenu-text-hover);
      border-color: var(--navmenu-border);
    }
  }

  nav.commands {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    button.mobile-open {
      display: none;
      margin-left: 12px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;

      border: 0;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
      }
    }
    
    .dropdown {
      .dropdown-content#invisible {
        opacity: 0;
        transform: translateY(5px);
        visibility: hidden;
      }

      .dropdown-content {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-top: 6px;
        margin-right: 12px;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        padding: 6px;
        border-radius: 10px;
        gap: 6px;

        background-color: rgb(222, 222, 231);

        button {
          display: flex;
          justify-content: flex-start;
          gap: 6px;
          border-radius: 6px;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            img {
              width: 100%;
            }
          }
        } button:hover {
          background-color: rgb(236, 236, 241);
        }
      }
    }
  }
}

.mobile-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  backdrop-filter: blur(2px);
  background-color: rgb(0,0,0,.1);
  opacity: 1;
  .mobile-navmenu {
    float: right;
    width: 45%;
    height: 100vh;
    background-color: #fff;
    padding: 10px 12px;
    nav.mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      button.mobile-close {
        outline: none;
        border: 0;
        border-radius: 10px;
        padding: 12px;
        cursor: pointer;
      } span.logotype {
        width: 35px;
        height: 35px;
        margin-left: 12px;
        img {width: 100%;}
      }
    }

    .mobile-navmenu-content {
      display: flex;
      flex-direction: column;
      gap: 6px;
      a {
        width: 100%;
        padding: 18px 18px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 18px;
      } a:hover {
        background-color: antiquewhite;
      }
    }
  }
} .mobile-background#invisible {
  visibility: hidden;
  opacity: 0;
  .mobile-navmenu {display: none;}
}

@media (max-width: 1000px) {
  header {
    nav.navmenu {display: none;}
    nav.commands {
      button.mobile-open {display: flex;}
      /* button.dropdown-button, button.theme {display: none;} */
    }
  }
}