:root {
  --navmenu-background: #FFFFFF;
  --navmenu-text-hover: #242427;
  --navmenu-text: #66666f;

  /* Buttons */
  --navmenu-button-radius: 10px;
  --navmenu-button-padding: 10px 16px;
  --navmenu-font-size: 14px;
  --navmenu-button-hover: #eff2f7;
  --navmenu-button-background-hover-cmd: ;
  --navmenu-button-text-hover-cmd: ;
  --navmenu-button-background-active-cmd: ;
  --navmenu-button-text-active-cmd: ;

  /* Droplist */
  --navmenu-droplist-background: #fff;
  --navmenu-droplist-border: #e1e5ed;

}

:root[theme="dark"] {
  --navmenu-background: #393E46;
  --navmenu-text-hover: #efeff6;
  --navmenu-text: #cbcbd6;
  
  /* Buttons */
  --navmenu-button-radius: 10px;
  --navmenu-button-padding: 10px 16px;
  --navmenu-font-size: 14px;
  --navmenu-button-hover: #575d67;

  /* Droplist */
  --navmenu-droplist-background: #393E46;
  --navmenu-droplist-border: #1d2025;
}


header#navmenu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 24px;
  background-color: var(--navmenu-background);
  z-index: 5;
  border-radius: 50px;
  margin: 10px 25px;
  width: calc(100% - 50px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  a.logotype {
    z-index: 2;
    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50px;
      height: 50px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  nav.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 12px;
    width: 100%;
    text-transform: capitalize;
    a {
      margin: 6px 0;
      font-weight: 500;
      text-decoration: none;
      border-radius: var(--navmenu-button-radius);
      padding: var(--navmenu-button-padding);
      font-size: var(--navmenu-font-size);
      color: var(--navmenu-text);
    } a:hover {
      color: var(--navmenu-text-hover);
      background-color: var(--navmenu-button-hover);
    }
  }

  nav.commands {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    button.mobile-open {
      display: none;
      margin-left: 12px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;

      border: 0;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      color: var(--navmenu-text-hover);
      background-color: var(--navmenu-button-hover);
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
      }
    }
    
    .dropdown {
      .dropdown-content#invisible {
        opacity: 0;
        transform: translateY(5px);
        visibility: hidden;
      }

      .dropdown-content {
        
        display: flex;
        position: absolute;
        flex-direction: column;
        
        right: 0;
        gap: 6px;
        padding: 6px;
        margin-top: 6px;
        margin-right: 12px;
        border-radius: 10px;
        border: 1px solid var(--navmenu-droplist-border);
        background-color: var(--navmenu-droplist-background);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        button {
          display: flex;
          justify-content: flex-start;
          gap: 8px;
          border-radius: var(--navmenu-button-radius);
          padding: var(--navmenu-button-padding);
          font-size: var(--navmenu-font-size);
          color: var(--navmenu-text);
          background-color: transparent;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            img {
              width: 100%;
            }
          }
        } button:hover {
          color: var(--navmenu-text-hover);
          background-color: var(--navmenu-button-hover);
        }
      }
    }
  }
}

.navmenu-mobile-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  backdrop-filter: blur(2px);
  background-color: rgb(0,0,0,.1);
  opacity: 1;
  .navmenu-mobile {
    float: right;
    width: 45%;
    height: 100vh;
    background-color: #fff;
    padding: 10px 12px;
    nav.navmenu-mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      button.navmenu-mobile-close {
        outline: none;
        border: 0;
        border-radius: 10px;
        padding: 12px;
        cursor: pointer;
      } span.logotype {
        width: 35px;
        height: 35px;
        margin-left: 12px;
        img {width: 100%;}
      }
    }

    .mobile-navmenu-content {
      display: flex;
      flex-direction: column;
      gap: 6px;
      a {
        width: 100%;
        padding: 18px 18px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 18px;
      } a:hover {
        background-color: antiquewhite;
      }
    }
  }
} .navmenu-mobile-background#invisible {
  visibility: hidden;
  opacity: 0;
  .mobile-navmenu {display: none;}
}

@media (max-width: 1000px) {
  header#navmenu {
    nav.navmenu {display: none;}
    nav.commands {
      button.mobile-open {display: flex;}
      /* button.dropdown-button, button.theme {display: none;} */
    }
  }
}